@model List<States>;

@{
    ViewData["Title"] = "States";
}
<h1>@ViewData["Title"]</h1>

<img src="https://yt3.googleusercontent.com/a94SMcu9DKrDw2XHzfwozOUyDujHN2sYIpEHQQ0SHSNjA0lxtzkXLv-9crS_42ZPtQwGk4ynRw=s900-c-k-c0x00ffffff-no-rj" class="img-fluid rounded shadow img-1 mb-5" alt="..." />

<div class="row">
@foreach (var s in Model)
{
    <div class="col-md-4">
        <div class="card text-dark bg-light mb-5 mb-3" style="max-width: 20rem;">
            <h4 class="card-header">@s.statesName</h4>
            <div class="card-body">
                <div class="row">
                    <p class="fs-6 fw-normal col">Capital :</p><h5 class="card-title col"> @s.stateCapital</h5>
                </div>
                <div class="row">
                    <p class="fs-6 fw-norma col"> Regional Language :</p><h6 class="card-title col"> @s.stateLanguage</h6>
                </div>
            </div>
        </div>
    </div>
}
</div>


